# Git ignore File
MC-Server-Startup/config.bat
MC-Server-Startup/2.1.0/config.bat
*/config.bat
MC-Server-Startup/2.1.0/.startup/config.bat
*.jar
MC-Server-Startup/2.1.0/.startup/cmcl.json
MC-Server-Startup/2.1.0/
