# Git ignore File
MC-Server-Startup/Bat-Windows/config.bat
MC-Server-Startup/Bat-Windows/2.1.0/config.bat
*/config.bat
MC-Server-Startup/Bat-Windows/2.1.0/.startup/config.bat
*.jar
MC-Server-Startup/Bat-Windows/2.1.0/.startup/cmcl.json
